# /etc/systemd/system/lidar.service

[Unit]
Description=Lidar washing robot service
After=network.target sensors.service front_lidar.service
PartOf=wash.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/robot-visual-nav/lidar_service.sh
WorkingDirectory=/home/pi/robot-visual-nav
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
