# /etc/systemd/system/lights.service

[Unit]
Description=Lights washing robot service
After=network.target
PartOf=wash.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/robot-visual-nav/lights_service.sh
WorkingDirectory=/home/pi/robot-visual-nav
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
